
@font-face {
    font-family: Poppins;
    font-weight: 600;
    src: url('./fonts/Poppins-Regular.ttf');
}
@font-face {
    font-family: Poppins;
    font-weight: 800;
    src: url('./fonts/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins;
    font-weight: 400;
    src: url('./fonts/Poppins-Light.ttf');
}

@font-face {
    font-family: Poppins;
    font-weight: 300;
    src: url('./fonts/Poppins-Thin.ttf');
}
@font-face {
    font-family: Poppins;
    font-weight: 700;
    src: url('./fonts/Poppins-SemiBold.ttf');
}


/*========  Noto_Sans Fonts ========*/
@font-face {
    font-family: NotoSans-Regular;
    font-weight: 600;
    src: url('./fonts/Noto_Sans/NotoSans-Regular.ttf');
}
@font-face {
    font-family: NotoSans-Bold;
    font-weight: 800;
    src: url('./fonts/Noto_Sans/NotoSans-Bold.ttf');
}

@font-face {
    font-family: NotoSans-Light;
    font-weight: 400;
    src: url('./fonts/Noto_Sans/NotoSans-Light.ttf');
}

@font-face {
    font-family: NotoSans-Thin;
    font-weight: 300;
    src: url('./fonts/Noto_Sans/NotoSans-Thin.ttf');
}
@font-face {
    font-family: NotoSans-SemiBold;
    font-weight: 700;
    src: url('./fonts/Noto_Sans/NotoSans-SemiBold.ttf');
}

/* ===== Open Sans Fonts ===== */
@font-face {
    font-family: OpenSans-Regular;
    font-weight: 600;
    src: url('./fonts/Open_Sans/OpenSans-Regular.ttf');
}
@font-face {
    font-family: OpenSans-Bold;
    font-weight: 800;
    src: url('./fonts/Open_Sans/OpenSans-Bold.ttf');
}

@font-face {
    font-family: OpenSans-Medium;
    font-weight: 500;
    src: url('./fonts/Open_Sans/OpenSans-Medium.ttf');
}

@font-face {
    font-family: OpenSans-Light;
    font-weight: 400;
    src: url('./fonts/Open_Sans/OpenSans-Light.ttf');
}

@font-face {
    font-family:OpenSans-SemiBold;
    font-weight: 700;
    src: url('./fonts/Open_Sans/OpenSans-SemiBold.ttf');
}


/* ===== Open Lato Fonts ===== */

@font-face {
    font-family: Lato-Black;
    font-weight: 800;
    src: url('./fonts/Lato/Lato-Black.ttf');
}

@font-face {
    font-family: Lato-Bold;
    font-weight: 700;
    src: url('./fonts/Lato/Lato-Bold.ttf');
}
@font-face {
    font-family: Lato-Regular;
    font-weight: 600;
    src: url('./fonts/Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: Lato-Light;
    font-weight: 500;
    src: url('./fonts/Lato/Lato-Light.ttf');
}

@font-face {
    font-family: Lato-Thin;
    font-weight: 400;
    src: url('./fonts/Lato/Lato-Thin.ttf');
}











